<html>
    <body>
        <div>
            <center>
                <img src="https://ifh.cc/g/EbzZLP.png">
                <br>
                <h2>이메일이 성공적으로 발송되었습니다.</h2>
                <a href="https://django-dsqzb.run.goorm.io/"><img src="https://ifh.cc/g/RtGsWc.png" width="100px" height="100px"></a>
                <a href="#" onclick="alert.('실패 원인 : {{error}}')"><img src="https://ifh.cc/g/5qq7CJ.png" width="100px" height="100px"></a><br>
                
                
            </center>
        </div>
    </body>
</html>