<html>
    <body>
        <div>
            <center>
                <img src="https://ifh.cc/g/Dgdyux.png">
                <br>
                <h2>이메일 발송을 실패하였습니다.</h2>
                <a href="https://django-dsqzb.run.goorm.io/"><img src="https://ifh.cc/g/RtGsWc.png" width="100px" height="100px"></a>
                <a href="#" onclick="alert.('실패 원인 : {{error}}')"><img src="https://ifh.cc/g/5qq7CJ.png" width="100px" height="100px"></a><br><br>
                실패 원인 : {{error}}
            </center>
        </div>
    </body>
</html>